*{
    font-family: "Mulish", sans-serif;
}
/* Header Part */
header{
    margin: 50px 100px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-img{
    width: 48px;
height: 40.008px;
}
.nav-title{
    color: #FF5400;
}
nav>div{
    display: flex;
    gap: 15px;
    align-items: center;
}
nav>ul{
    display: flex;
    gap: 15px;
    align-items: center; 
   list-style: none;
}
nav>ul>li>a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
.banner{
   position: relative; 
}
.banner>img{
    margin-top: 50px;
     width: 100%;
 
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  z-index: 2;
  border-radius: 12px;
}
#fruit{
    border: 1px solid black;
    padding: 10px;
    border-radius: 12px;
}
.banner-text{
 border: 1px solid black;
    padding: 10px;
    border-radius: 12px;
}
.btn-img{
    display: flex;
    gap: 5px;
    border-radius: 8px;
background: #FF5400;
padding: 10px;
color: #FFF;
width: 150px;

}
.choice{
    display: flex;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
padding: 10px;
}
.banner-part{
    position: absolute;
    top: 25%;
    left: 20%;
    z-index: 3;
}
.banner-part>h3{
color: #FFF;
font-size: 64px;
font-weight: 800;
text-align: center;
}
.banner-part>p{
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
margin: 0 auto;
margin-bottom: 20px;
width: 676px;
}
/*Details */
.details{
    display: flex;
     justify-content: space-between;
    gap: 20px;
    margin: 50px 100px;
    align-items: center;
   
}
.btn-details{
    border-radius: 8px;
background: #FF5400;
padding: 10px;
color: #FFF;
}
.details-part h3{
color: #131318;

font-size: 40px;
font-weight: 800;
}
.details-part ul{
color: #5A5A5D;
font-size: 16px;
font-weight: 400;
margin: 20px 0;

}
.details-part{
    width: 100%;
}
.details-img{
    width: 90%;
}
/*Destination */
.destination{
    margin: 50px 100px;
}
.destination>h3{
color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.destination>p{
color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
margin: 0 auto;
margin-bottom: 30px;
width: 600px;
}
.des-img{
    position: relative;
}
.des-img>p{
    position: absolute;
    top: 40%;
    left: 30%;
    color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;

}
.destination-img-1,.destination-img-2,.destination-img-3{
display: flex;
gap: 10px;
margin-bottom: 10px;
}
/* Reason */
.reason{
    margin: 50px 100px;
}
.reason>h3{
color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.reason>p{
color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
margin: 0 auto;
margin-bottom: 30px;
width: 600px;
}
.cause-1{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 20px;
}
.cause-1>h3{
color: #131318;
font-size: 24px;
font-weight: 800;
margin: 10px 0;
}
.cause-1>img{
width: 50px;
height: 50px;
}
.cause{
    display: flex;
    gap: 20px;
}
.cause-2{
    width: 600px;
   margin: 20px auto;
    
}
.cause-3{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}